{% include "header.html" %}
{% include "pics.html" %}
<div class="container">
	<div class="row">
        <div class="col-sm-5">

			<img src="/static/img2.webp" alt="No Image" id="content_img"/>
			
		</div>
		<div class="col-sm-7">
			<h3 id="content_heading" class="text-center">Category</h3>
			<p id="content_details"><strong>T</strong>here are mainly 3 categories of services we provide
            <ul>
                <li><h4 style="font-family: Arial, Helvetica, sans-serif">Tickets Booking</style></h4></li>
                <li><h4 style="font-family: Arial, Helvetica, sans-serif">Room Booking</style></h4></li>
                <li><h4 style="font-family: Arial, Helvetica, sans-serif">Full Package</style></h4></li>
            </ul>
            </p>
        </div>

	</div>
</div>
{%include "footer.html"%}

