{% include "header.html" %}
{% include "pics.html" %}
<div class="container">
	<div class="row">
        <div class="col-sm-5">

			<img src="/static/img8.jpg" alt="No Image" id="content_img"/>
			
		</div>
		<div class="col-sm-7">
			<h3 id="content_heading" class="text-center">Contact</h3>
			<p id="content_details"><strong>Contact us at</strong>
            <ul>
                <li><h4>E-mali:<a href="mailto:swas123@gmail.com">swas123@gmail.com</a></h4></li>
                <li><h4>Mobile:9143241578</h4></li>
            </ul>
            </p>
        </div>

	</div>
</div>
{%include "footer.html"%}

