<div class="container-fluid" id="footer1">
	<div class="row">

		<div class="col-sm-4">
			<h3 id="footer_heading1">Follow Us On:</h3>
			<strong><i class="fa-brands fa-facebook fa-2x" style="color: #032692;"></i></strong>

			<strong><i class="fa-brands fa-instagram fa-2x" style=" background: #833ab4; background: linear-gradient(to right,#833ab4,#fd1d1d,#fcb045);"></i></strong>

			<strong><i class="fa-brands fa-youtube fa-2x" style="color: #FF0000;"></i></strong>
			<strong><i class="fa-brands fa-whatsapp fa-2x" style="color: #075E54;"></i></strong>
		</div>

		
		<div class="col-sm-4">
				
			<h3 id="footer_heading1">Quick Link:</h3>
				<li style="list-style-type: none;"><a href=# style="color:#032692;text-decoration: none; font-size:30px;font-family: 'Pacifico', cursive;"><a href="{% url "home" %}"><b>Home</b></a></a></li>

				<li style="list-style-type: none;"><a href=# style="color:#032692;text-decoration: none; font-size:30px;font-family: 'Pacifico', cursive;"><a href="{% url "about" %}"><b>About</b></a></a></li>

				<li style="list-style-type: none;"><a href=# style="color:#032692;text-decoration: none; font-size:30px;font-family: 'Pacifico', cursive;"><a href="{% url "category" %}"><b>Category</b></a></a></li>

				<li style="list-style-type: none;"><a href=# style="color:#032692;text-decoration: none; font-size:30px;font-family: 'Pacifico', cursive;"><a href="{% url "contact" %}"><b>Contact</b></a></a></li>

		</div>


		<div class="col-sm-4">
			<h3 id="footer_heading1">Contact Us:</h3>
			<p><i class="fa-solid fa-phone fa-2x" style="color:#032692;"></i>
					<span style="color:#032692;font-size:20px;font-family: "Lucida Console", "Courier New", monospace;;">+91 33 47589003</br>+91 9143241578</span>
			        </br>
			</p>

			<p><i class="fa-solid fa-envelope fa-2x" style="color:#032692;"></i>
					<span style="color:#032692;font-size:20px;font-family: "Lucida Console", "Courier New", monospace;">swas123@gmail.com</span>
			        </br>
			</p>

			<p><i class="fa-solid fa-location-dot fa-2x" style="color:#032692;"></i>
					<span style="color:#032692;font-size:20px;font-family: "Lucida Console", "Courier New", monospace;">
						
						49-Bedon Street 
						<p style="color:#032692;font-size:20px;font-family: "Lucida Console", "Courier New", monospace;">Floor-11</p>

						<p style="color:#032692;font-size:20px;font-family: "Lucida Console", "Courier New", monospace;">Kolkata,
						West Bengal-700001</p>
					</span>
			        </br>
			</p>
			   

		</div>




	</div>
</div>	
<div class="container-fluid" id="footer1">
	<div class="row" >
		<div class="col-sm-12 text-center">
			<h4 style="color:#800000;font-size:20px;  font-family: "Lucida Console", "Courier New", monospace; text-transform: uppercase;">&copy;All Rights Reserved</h4>

	</div>
</div>
</body>
</html>