<div class="carousel slide" id="mycarousel" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
    
    </ol>
    
    <div class="carousel-inner">
    
        <div class="item active">
            <img src="/static/img1.avif" id="carousel_img"/>
            <div class="carousel-caption">
            <!--<strong>Image-1</strong>-->
            </div>
        </div>
    
        <div class="item">
    
            <img src="/static/img6.webp" id="carousel_img"/>
            <div class="carousel-caption">
                <!--<strong>Image-2</strong>-->
            </div>
    
        </div>
    
        <div class="item">
            <img src="/static/img3.jpg" id="carousel_img"/>
            <div class="carousel-caption">
                <!--<strong>Image-3</strong>-->
            </div>
        </div>
    
        <div class="item">
            <img src="/static/img5.jpg" id="carousel_img"/>
            <div class="carousel-caption">
                <!--<strong>Image-4</strong>-->
                
            </div>
        </div>
    </div>
    
    </div>